section.portfolio{
    margin-top: 85px;
    h2{
        color: var(--sec-color);
    }
    .divider{
        .line{
            background-color:var(--sec-color);
        }
      }
      .row{
        .item{
           .img{
            /* overflow: hidden; */
            cursor: pointer;
            .layer{
                height: 100%;
                width: 100%;
                opacity: 0;
                background-color: #1abc9ce6;
                transition: opacity ease 0.5s;
                -webkit-transition: opacity ease 0.5s;
                -moz-transition: opacity ease 0.5s;
                -ms-transition: opacity ease 0.5s;
                -o-transition: opacity ease 0.5s;
                pointer-events: none;
                span{
                    font-size: 4rem;
                }
            }
            &:hover{
                .layer{
                    opacity: 1;
                }
            }
           }
        }
      }
    }
    .overlay{
      background-color: rgba(13,110,253,0.25);
      z-index: 10000;
      img{
        width: 600px;
      }
}
.prevent-event{
    pointer-events: none;
}