<section class="py-5 text-center">
    <div class="container pt-5">
        <div class="image mb-5 ">
            <img src="./assets/imgs/avataaars.svg" class="" alt="">
        </div>
        <div class="content text-white">
            <h2 class="text-uppercase fw-bolder fs-1">start framework</h2>
            <div class="divider d-flex justify-content-center align-items-center mb-3">
                <div class="line me-3"></div>
                <span><i class="fa-solid fa-star"></i></span>
                <div class="line ms-3"></div>
            </div>
            <p class="mb-0">
                Graphic Artist - Web Designer - Illustrator
            </p>
        </div>
    </div>
</section>
