/* You can add global styles to this file, and also import other style files */
:root{
    --main-color:#1abc9c;
    --sec-color:#2c3e50;
}
a{
    color: inherit !important;
}
span{
    display: inline-block;
}
.divider{
    .line{
        width: 80px;
        height: 4px;
        background-color: #fff;
    }
}